*{
    margin:0;
    padding:0;
}
body{
/*    background-color: green;*/
}
header{
    border-bottom: 2px solid #E83E64;
}
.nav-left{
    display:flex;
/*    justify-content: center;*/
    align-items: center;
    position: relative;
}
.logo{
    width: 85px;
    height: auto;
    position: absolute;
    top:0px;
    left: 68px;
}

/*humberberger icon*/
.animated-icon1, .animated-icon2, .animated-icon3 {
       width: 18px;
        height: 22px;
        position: relative;
        margin: 0px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        }
    
.animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}

.animated-icon1 span {
background: #E83E64;
}

.animated-icon2 span {
background: #E83E64;
}

.animated-icon3 span {
background: #E83E64;
}

.animated-icon1 span:nth-child(1) {
top: 0px;
}

.animated-icon1 span:nth-child(2) {
top: 10px;
}

.animated-icon1 span:nth-child(3) {
top: 20px;
}

.animated-icon1.open span:nth-child(1) {
top: 11px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
opacity: 0;
left: -60px;
}

.animated-icon1.open span:nth-child(3) {
top: 11px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
}

/*end*/
.collapse {
/*    background-color: white;*/
    padding: 15px;
    width:40%;
}
/*nav-right side*/

.nav-right{
    position: absolute;
    right:5px;
    top:0;
    margin-top:9px;
}
.fa{
    font-size: 32px;
    margin-right: 14px;
    color: #6c6767;
}
.menu-item{
    display:none;
}

/*end*/
/*----------------------------pc screen begins-------------------*/
@media only screen and (min-width:750px){
    header{
        height:55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .navbar-toggler{
        display: none;
    }
    .nav-right{
        display: none;
    }
    .logo{
        left:20px;
        top:4px;
    }
    .menu-item{
        display: inline-block;
        margin-top: 15px;
        margin-right: 5px;
    }
    .menu-item .list-unstyled .list-item{
        display: inline;
        padding:8px 10px;
/*        border:1px solid pink;*/
/*        margin-left:8px;*/
    
    }
    .dropdown-menu .dropdown-item .nav-link{
        color:#6d1b54;
/*        padding:0;*/
/*        margin:0 !important;*/
    }
    .dropdown-menu .dropdown-item .nav-link:hover{
        color:#6d1b54;
        background-color: rgba(195, 59, 127, 0.56);
    }
    
    .menu-item .list-unstyled .list-item .list-link{
        text-decoration: none;
        color: #403f40;
        font-size: 18px;
/*        font-weight: 600;*/
    }
    .fa{
        padding:8px 10px;
        margin:0;
    }
    .list-item:hover,.fa:hover{
        border:1px solid #a03a70;
        background-color: rgba(195, 59, 127, 0.56);
        color: #6d1b54;
/*        color: white;*/
    }
    .menu-item .list-unstyled .list-item .list-link:hover{
        color: #6d1b54;
    }
}


/*-----------------------pc screen size ends--------------------------*/

/*search with button icon*/
.input-group-text{
    background-color: #ffc107; 
} 
/**/
.image-banner{
    background: url(banner01.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height:130px;
    
}

/*main content with text and image*/
.main-content{
    height:560px;
    width: 100%;
    background-image:  linear-gradient(to bottom, rgba(13, 22, 239, 0), rgba(6, 15, 64, 0.99)), url(blue%20background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
/*    align-items: center;*/
}
.image-block{
    margin-right:80px;
}
.lady{
    transform: scaleX(-1);
    height: 580px;
}
.text-content{
    padding-top:126px;
    line-height: 70px;
    padding-left:130px;
}.text-content p{
    font-size: 40px;
    margin-bottom: 0;
/*    color: #438383;*/
}
.text-content .explore{
    font-size: 140px;
    margin-top:10px;
    margin-left:0px;
    font-weight: bolder;
     color: #2291ac;
}
.text-content .area{
    display:block;
    color:#a8ecff;
    font-size: 45px;
}
.btn1{
    border-radius:25px;
    padding:15px 20px;
    width:170px;
    border: none;
    background-color: #E54818;
    color: white;
/*    margin-top:10px;*/
/*    margin-left:140px;*/
}
.btn1:hover{
         background-color: #FF5519;
        color: #12272c;
        font-weight: 700;
    }
.arrows{
    display: flex;
}
.arrows .img{
    
    width:40px;
    margin-top:10px;
    margin-right:40px;
}

/*end*/

/*counter*/
.counter{
    width:100%;
    height:200px;
    background-image:  linear-gradient(to top, rgba(6, 10, 90, 0.97), rgba(1, 5, 26, 0.78)),url(blue%20background.jpg);
    background-position: center;
    background-size: cover;
}
.deals{
    font-size: 35px;
    font-weight: 700;
    color: white;
    opacity: .2;
/*    text-decoration: underline;*/
}
.counter-time{
    font-size: 90px;
    color: #39609b;
}

/*end*/

/*categories*/

.col{
/*    width:40% !important;*/
    background-color: white;
    margin-top: 10px;
/*    margin-right: 20px !important;;*/
    height:230px;
    padding: 0 !important;
    position: relative;
}
.container h5{
    font-size: 28px;
    font-weight: 700;
}


.first-col {
    background: url("categories/half_sleev.jpg");
    background-size: cover;
    background-position: center;
}
.second-col {
    background: url("categories/light-green-checked-full-sleeve-shirt.jpg");
    background-position: center;
    background-size: cover;
}
.third-col{
     background: url("categories/femal_hoodie.jpg");
    background-position: center;
    background-size: cover;
}
.fourth-col{
     background: url("categories/polo%20%20tshirt.jpg");
    background-position: center;
    background-size: cover;
}
.fifth-col{
     background: url("categories/joggers.jpg");
    background-position: center;
    background-size: cover;
}
.sixth-col{
     background: url("categories/boxers.jpg");
    background-position: bottom;
    background-size: cover;
}
 h6{
    position: absolute !important;
    bottom: 0;
    left: 0;
     text-align: center !important;
/*    margin-left: 5px;*/
    width:100%;
    background-color: #242424;
    color:#bababa;
    padding:4px 7px 4px 7px;
    margin-bottom: 0 !important;
}

/*end*/



